/* ===== Mixins ===== */

@mixin flex-layout($direction) {
  display: flex;
  flex-direction: $direction;
}

/* ===== Common ===== */

.padding-md {
  padding: 12px;
}

.padding-lg {
  padding: 24px;
}

.spacer {
  flex-grow: 1;
}

.flex-column {
  @include flex-layout(column);
}

.flex-row {
  @include flex-layout(row);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* ===== Components ===== */

.button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;

  font-size: 24px;
  color: white;

  &:active {
    background-color: aqua;
    transform: scale(1.1);
  }

  &:hover {
    transform: scale(1.1);
  }
}

.score {
    color: white;
    font-size: 24px;

    &.text {
        padding-right: 20px;
    }
}

/* ===== Debug UI ===== */
.debug-ui {
  @include flex-layout(column);
  padding: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  .footer {
    display: flex;
    flex-direction: row;
  }

  .text {
    color: white;
    font-size: 12px;
  }

  .button {
    font-size: 16px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    width: 100px;
  }
}

/* ===== Routes ===== */

.main-menu {
  @include flex-layout(column);
  justify-content: center;
  align-items: center;
  height: 100%;

  .content {
    @include flex-layout(column);
    align-items: center;
    gap: 24px;
  }

  .title {
    margin-top: -128px;
    margin-bottom: 128px;
    text-align: center;
    color: white;
    font-size: 64px;
  }
}

.pause-menu {
  height: 100%;

  .container {
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    gap: 24px;

    .button {
      font-size: 18px;
    }
  }

  .black-bar {
    @include flex-layout(column);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.5));
  }
  
  .gradient-rule {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  }
}

.gameover {
  @include flex-layout(column);
  justify-content: center;
  align-items: center;
  height: 100%;

  .title {
    margin-top: -128px;
    margin-bottom: 128px;
    text-align: center;
    color: white;
    font-size: 32px;
  }
}

.leaderboard {
  .title {
    margin-top: 128px;
    margin-bottom: 128px;
    color: white;
    font-size: 64px;
    text-align: center;
  }

  .content {
    @include flex-layout(column);
    margin: auto;
    gap: 20px;
  }

  .score {
    @include flex-layout(row);
    justify-content: space-between;
    gap: 100px;
  }

  .button {
      font-size: 32px;
      padding: 128px;
  }
}
